%h1
  #{@room.name}
=@room.name
=@room.address
=@room.rent
=@room.nearest_station 
=@room.comment
=@room.owner.owner_profile.name
-if @room.images.present?
  -@room.images.each do |image|
    =image_tag image.variant(gravity: :center, resize:"50x50^", crop:"350x350+0+0").processed
-if @application.nil?
  =link_to 'この部屋の内覧に申し込む', application_new_user_room_path(@room.id)
-else
  ="オーナーの対応状況:#{@application.status_text}"
=link_to '貸し部屋一覧へ戻る', user_rooms_path