=bootstrap_form_with model: [:owner, @room], local: true do |f|
  =f.text_field :name
  =f.text_field :address
  =f.number_field :rent
  =f.text_field :nearest_station
  =f.text_area :comment
  =f.submit