%h1
  #{@room.name}
=@room.name
=@room.address
=@room.country
=@room.rent
=@room.nearest_station 
=@room.comment
-if @room.images.present?
  -@room.images.each do |image|
    =image_tag image.variant(gravity: :center, resize:"50x50^", crop:"350x350+0+0").processed
-if @room.applications.present?
  ="内覧申し込み件数:#{@room.applications.size}件"
  -@room.applications.each do |application|
    =link_to "#{application.user_name}からの問合せ", application_show_owner_room_path(application_id: application.id)
=link_to '貸し部屋一覧へ戻る', owner_rooms_path
=link_to '情報を編集', edit_owner_room_path(@room.id)
=link_to '情報を削除', owner_room_path(@room.id), method: :delete, data: { confirm: '本当に削除しますか？' }