%h1
  Home Finder
.menu
  %h2
    = link_to 'オーナーログイン', new_owner_session_path
  %h2
    = link_to 'オーナー登録', new_owner_registration_path
  %h2
    = link_to 'ユーザーログイン', new_user_session_path
  %h2
    = link_to 'ユーザー登録', new_user_registration_path