%h1
  Home Finder
-if owner_signed_in?
  %h2
    =link_to '貸し部屋一覧', owner_rooms_path
  %h2
    =link_to 'ログアウト', destroy_owner_session_path
  -if current_owner.owner_profile.present?
    =link_to 'オーナー情報', owner_owner_profile_path(current_owner.owner_profile.id)
  -else
    =link_to 'オーナー情報作成', new_owner_owner_profile_path
-else
  %h2
    = link_to 'オーナー登録', new_owner_registration_path
  %h2
    = link_to 'オーナーログイン', new_owner_session_path