%h1
  #{@owner_profile.name}
=@owner_profile.name
=@owner_profile.country
=@owner_profile.comment
=link_to 'オーナー情報を編集', edit_owner_owner_profile_path(@owner_profile.id)
=link_to 'トップへ戻る', owner_root_path
